* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: top;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

body {
    color: #222328;
}
/* modal */
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 100;
    display: none;
}
.modal .modal_inner{
    width: 500px;
    height: 500px;
    background: #fff;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.modal .modal_inner h2{
    line-height: 50px;
    font-size: 20px;
    font-weight: normal;}
.modal .modal_inner img{
    width: auto;
    height: 400px;
}
.modal .modal_inner button{
    width: 50px;
    height: 25px;
    display: block;
    margin-left: 225px;
    margin-top: 20px;
}
/* layout */
header {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 10;
}

header h1 {
    float: left;
}

header h1 a {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

header nav {
    float: right;
    width: 700px;
    text-align: center;
    padding-top: 30px;
}

header nav ul.gnb {
    width: 100%;
}

header nav ul.gnb>li {
    width: 25%;
    float: left;
    position: relative;
}

header nav ul.gnb>li>a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #7761d6;
    color: #fff;
}

header nav ul.gnb>li:hover>a {
    background: #d6a861;
}

header nav ul.gnb>li>ul.sub {
    width: 100%;
    position: absolute;
    left: 0;
    top: 40px;
    display: none;
}

header nav ul.gnb>li>ul.sub>li {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: #d6a861;
    color: #fff;
}

header nav ul.gnb>li>ul.sub>li:hover {
    background: #7761d6;
}

header nav ul.gnb>li>ul.sub>li>a {
    display: block;
}

.slide {
    width: 100%;
    height: 300px;
    background-color: lavenderblush;
    position: relative;
    overflow: hidden;
}

.slide ul {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0px;
}

.slide ul li {
    width: 100%;
    height: 300px;
}

.contents {
    width: 100%;
    height: 200px;
}

.contents h2 {
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #7761d6;
    color: #fff;
    font-weight: normal;
    border-radius: 20px 20px 0 0;
}

.contents .notice_gal {
    width: 400px;
    height: 200px;
    float: left;
    position: relative;
}

.contents .notice_gal h2 {
    float: left;
    cursor: pointer;
}
.contents .notice_gal h2.on{
    background: #fff;
    box-sizing: border-box;
    border:1px solid #7761d6;
    color: #7761d6;
    border-bottom: 0;
}
.contents .notice_gal h2.ml1 {
    margin-left: 1px;
}

.contents .notice_gal ul {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    height: 170px;
    border: 1px solid #7761d6;
    box-sizing: border-box;
    display: none;
}
.contents .notice_gal ul.on{
    display: block;
}
.contents .notice_gal ul.notice {
    
}

.contents .notice_gal ul.notice li {
    width: 100%;
    height: 33px;
    line-height: 33px;
    border-bottom: 1px solid #7761d6;
}

.contents .notice_gal ul.notice li:last-child {
    border-bottom: 0;
}

.contents .notice_gal ul.notice li a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

.contents .notice_gal ul.notice li:hover a {
    background: #7761d6;
    color: #fff;
}

.contents .notice_gal ul.notice li a span {
    float: right;
    font-size: 14px;
}

.contents .notice_gal ul.gal {
    /* display: none; */
}

.contents .notice_gal ul.gal li {
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-left: 25px;
    margin-top: 25px;
    position: relative;
}

.contents .notice_gal ul.gal li a {
    display: block;
    width: 100%;
    height: 100%;
}

.contents .notice_gal ul.gal li a img {
    transition: all 0.6s;
    position: absolute;
    left: 0;
    top: 0;
}
.contents .notice_gal ul.gal li a .over{
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.4);
    width: 100px;
    height: 100px;
    transform: translateY(-100px);
    transition: all 0.6s;
    color: #fff;
    text-align: center;
    line-height: 100px;
}
.contents .notice_gal ul.gal li:hover a .over{
    transform: translateY(0);
}
.contents .notice_gal ul.gal li:hover a img {
    transform: scale(1.2);
}

.contents .banner {
    width: 400px;
    height: 200px;
    float: left;
    box-sizing: border-box;
    border-bottom: 1px solid  #7761d6;
    overflow: hidden;
}

.contents .baro {
    width: 400px;
    height: 200px;
    float: left;
}
.contents .baro ul{
    width: 100%;
    height: 170px;
    box-sizing: border-box;
    border:1px solid  #7761d6;
}
.contents .baro ul li{
    width: 100px;
    margin-left: 25px;
    float: left;
    text-align: center;
    margin-top: 25px;
}

footer {
    width: 100%;
    height: 100px;

}

footer .logo {
    width: 200px;
    height: 100px;
    float: left;
    box-sizing: border-box;
    padding-top: 30px;
}

footer .copy {
    width: 700px;
    height: 100px;
    float: left;
    line-height: 100px;
    text-align: center;
}

footer .sns {
    width: 300px;
    height: 100px;
    float: left;
}
footer .sns a{
    margin-top: 25px;
    display: inline-block;
    margin-left: 18px;
}